<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Angular Exercise 2</title>
    <script src="bower_components/angular/angular.js"></script>
  </head>
  <body ng-app="Calc">
    <p>Improve your calculator from exercise 1 using a controller and $watch</p>
    <div class="calc" ng-controller="CalcCtrl">
      <input type="number" ng-model="num1">
      <input type="number" ng-model="num2">
      <h2>{{sum}}</h2>
    </div>
    <script src="js/app.js"></script>
    <script src="js/controllers/calculator.js"></script>
  </body>
</html>
